<h1>Meet <%= @user.first_name%> <%=@user.last_name%></h1>

<img src="<%=@user.photo%>">

<% if @user.about_me == nil && @user == current_user %>
    <div><h4>Visit the "Edit My Profile" link above to customize your profile and help users get to know you better.</h4></div>
<% elsif @user.about_me == nil%>
<div> </div>
<% else %>
<dt>
    <h4>About <%= @user.first_name%>:</h4>
</dt>
<dd>
    <%= @user.about_me%>
</dd>
<% end %> 

<% if @user.city == nil && @user.state == nil%>
    <div> </div>
<% else %>
<dt>
    <h4><%= @user.first_name%> is based in:</h4>
</dt>

<dd>
    <%= @user.city%>, <%= @user.state%>
</dd>
<% end %>


<% if @user.hosted_workshops.empty? && @user == current_user %>
  <div><h4>You haven't hosted any workshops yet! Visit the "Add a Workshop" link above to get started.</h4></div>
<% elsif @user.hosted_workshops.empty? %>
  <div><h4><%=@user.first_name%> hasn't hosted any workshops yet!</h4></div>
<% else %>
<dt>
    <h4><%=@user.first_name%> has <%= @user.hosted_workshops.count%> workshops:</h4>
</dt>
<table>
  <tr>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Image
    </th>

    <th>
    </th>
  </tr>
<% @user.hosted_workshops.each do |workshop| %>
  <tr>
    <td>
      <%= workshop.title %>
    </td>

    <td>
      <%= workshop.description %>
    </td>

    <td>
      <image src="<%= workshop.image %>" width="300">
    </td>

    <td>
      <a href="/workshops/<%= workshop.id %>">
        Show details
      </a>
    </td>
  </tr>
<% end %>
</table>
<% end %>

<hr>

<div>
    <h4>Connect with <%=@user.first_name%></h4>
</div>

<% if @user.phone_number == nil %> 
<div>
    <%= mail_to @user.email, "Email" %>
</div>

<% else %>
<div>
    <a href="tel:" <%= @user.phone_number%>> Call
    <%= mail_to @user.email, "Email"%> 
</div>
<% end %>

