<h1>
  Brio Workshops
</h1>
<table>
  <tr>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Starts at
    </th>

    <th>
      Ends at
    </th>

    <th>
      Price
    </th>

    <th>
      Provider
    </th>

    <th>
      Image
    </th>

    <th>
      Capacity
    </th>

    <th>
      Location
    </th>

  </tr>

  <% @allworkshops.each do |workshop| %>
  <tr>

    <td>
      <%= workshop.title %>
    </td>

    <td>
      <%= workshop.description %>
    </td>

    <td>
      <%= workshop.starts_at %>
    </td>

    <td>
      <%= workshop.ends_at %>
    </td>

    <td>
      $<%= workshop.price %>
    </td>

    <td>
      <a href="/users/<%= workshop.provider.id%>">
      <%= workshop.provider.first_name %>
    </td>

    <td>
      <image src="<%= workshop.image %>">
    </td>

    <td>
      <%= workshop.capacity %>
    </td>

    <td>
      <%= workshop.location %>
    </td>

    <td>
      <a href="/workshops/<%= workshop.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
