<h1>
  Brio Workshops
</h1>

<a href="/new_workshop_form">
  Add a new workshop
</a>

<hr>

<table>
  <tr>
    <th>
      ID
    </th>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Starts at
    </th>

    <th>
      Ends at
    </th>

    <th>
      Price
    </th>

    <th>
      Provider
    </th>

    <th>
      Image
    </th>

    <th>
      Capacity
    </th>

    <th>
      Location
    </th>

    <th>
      Reviews
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @allworkshops.each do |workshop| %>
  <tr>
    <td>
      <%= workshop.id %>
    </td>

    <td>
      <%= workshop.title %>
    </td>

    <td>
      <%= workshop.description %>
    </td>

    <td>
      <%= workshop.starts_at %>
    </td>

    <td>
      <%= workshop.ends_at %>
    </td>

    <td>
      <%= workshop.price %>
    </td>

    <td>
      <%= workshop.provider.first_name %>
    </td>

    <td>
      <%= workshop.image %>
    </td>

    <td>
      <%= workshop.capacity %>
    </td>

    <td>
      <%= workshop.location %>
    </td>

    <td>
      <%= workshop.reviews %>
    </td>

    <td>
      <%= time_ago_in_words(workshop.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(workshop.updated_at) %> ago
    </td>

    <td>
      <a href="/workshops/<%= workshop.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
