<h1>
  My Workshops
</h1>

<a href="/new_workshop_form">
  Add a new workshop
</a>

<hr>

<% if @myworkshops.empty? %>
  <div>It looks like you haven't added any workshops yet. Visit the "Add a new workshop" link above to build your first workshop now!</div>
<% else %>
<table>
  <tr>

    <th>
      Title
    </th>

    <th>
      Description
    </th>

    <th>
      Starts at
    </th>

    <th>
      Ends at
    </th>

    <th>
      Price
    </th>

    <th>
      Provider
    </th>

    <th>
      Image
    </th>

    <th>
      Capacity
    </th>

    <th>
      Location
    </th>

    <th>
      Reviews
    </th>

    <th>
    </th>
  </tr>

<% @myworkshops.each do |workshop| %>
  <tr>
    <td>
      <%= workshop.title %>
    </td>

    <td>
      <%= workshop.description %>
    </td>

    <td>
      <%= workshop.starts_at %>
    </td>

    <td>
      <%= workshop.ends_at %>
    </td>

    <td>
      <%= workshop.price %>
    </td>

    <td>
      <%= workshop.provider.first_name %> <%= workshop.provider.last_name %>
    </td>

    <td>
      <image src="<%= workshop.image %>">
    </td>

    <td>
      <%= workshop.capacity %>
    </td>

    <td>
      <%= workshop.location %>
    </td>

    <td>
      <%= workshop.reviews %>
    </td>

    <td>
      <a href="/workshops/<%= workshop.id %>">
        Show details
      </a>
    </td>
  </tr>
</table>
<% end %>
<% end %>
