<!DOCTYPE html>
<html>
  <head>
    <title>Brio Experiences</title>

    <!-- Expand the characters we can use beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Connect the latest light.css to override browser default styles. -->
    <!-- You should replace this with a real stylesheet ASAP; probably Bootstrap, commented out below. -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

    <link rel="stylesheet" href="/bootstrap.css">
    <!-- Connect Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- Embedding other CSS and JavaScript from gems and things -->
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <!-- Rails security stuff -->
    <%= csrf_meta_tags %>

    <!-- START BOOTSTRAP -->
    <!-- Connect Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- END BOOTSTRAP -->
  </head>
  
  <body>
    <nav>
      <img src="https://i.ibb.co/2hpVRjf/Brio-Logo.png" width="100" height="100">
      <% if current_user.blank? %>
          <div></div>
          <a href="/users/sign_in" align="right">
            Sign in
          </a>
    
          <a href
        
          <a href="/users/sign_up" align="right">
            Sign up
          </a>
      
      <% else %>
      
      <img src="<%= current_user.photo %>" width="150px" height="100px" align="right">
      <div>
        <a href "/Edit my profile></a>
      </div>
      
      <div>
        <h2>Welcome to Brio, <%= current_user.first_name %>!</h2>
      </div>
      <div>
        <a href="/">
          <i class="fab fa-firstdraft fa-fw"></i>

          Home
        </a>
      </div>

      <div>
        <a href="/new_workshop_form">
          <i class="fas fa-plus fa-fw"></i>

          Add a Workshop
        </a>
      </div>

      <div>
        <a href="/myworkshops">
          <i class="fas fa-hammer fa-fw"></i>

          My Workshops
        </a>
      </div>

      <div>
        <a href="/users">
          <i class="fas fa-users"></i>

          All Experience Providers
        </a>
      </div>
    
    <% end %>
    </nav>

     <hr>
     <div class="container">
       <%= yield %>
     </div>
  </body>
  
</html>
